body {
  background-image: url("oddmercury.png");
}

h1 {
  position: center;
}

table {
  margin-left: 25%;
  margin-top: 20%;
}

td, th {
  height: 4%;
  width: 10%;
	border: 2px darkblue groove;
}
  
