body {
  background-image: url("../images/oddmercury.png") brightness(50%);
  font-family: "Courier New", normal, serif;
}

#intro-text {
  text-align: top center;
  color: white;
}

table {
  margin: auto;
  border: 4;
}

td, th {
	border: 3px darkblue groove;
	padding: 5px;
	color: white;
}
  
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#row1 td {
  font-size: 2em;
}

#row8 td {
  color: yellow;
}

#row9 td {
  color: red;
}
