body {
  background-image: url("../images/oddmercury.png");
  font-family: "Courier New", normal, serif;
}

h1 {
  position: center;
}

p {
  position: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 4;
}

td, th {
	border: 2px darkblue groove;
	padding: 5px;
}
  
